<div id="container">
  <div>
    <fa-icon [icon]="faTools"></fa-icon>
  </div>
  <!--  -->
  <div>
    <p>Olá, usuário! Ainda estamos trabalhando para que você seja capaz de acessar suas anotações de qualquer
      lugar.</p>
    <!--  -->
    <p> Enquanto não terminamos, você pode ir salvando suas anotações em nossa antiga plataforma, disponível <a
        href="https://mynotepad-production.herokuapp.com/" target="blank">clicando aqui.</a></p>
    <!--  -->
    <p>Aguarde só mais um pouco e em breve estaremos prontos <fa-icon [icon]="faSmile"></fa-icon>
    </p>

    <a id="home" routerLink="/">Clique aqui para voltar à página inicial.</a>
  </div>
</div>
