<div class="container">

    <h2>Ajuda</h2>

    <p>Olá, usuário! Aqui na página de ajuda você pode encontrar as repostas para suas dúvidas :)</p>
    <!--  -->
    <div class="obs">
        <h4>Observações:</h4>
        <p>
            Esta página ainda está em construção, caso não ache sua resposta aqui, mande um email para: <span>mynotepad0576@gmail.com</span>
        </p>
    </div>
    <!--  -->
    <h3>Minhas anotações</h3>
    <ul>
        <li><h4>Onde minhas anotações ficam salvas?</h4></li>
        <ol>
            <li><p>Quando você não está logado, suas anotações ficam salvas no navegador de seu dispositivo, ou seja, também só podem ser acessadas nele.</p></li>
            <ol type="a">
                <li><p><b>ATENÇÃO:</b> Tome cuidado, limpar os dados do navegador pode acabar apagando suas anotações locais.</p></li>
            </ol>
            <li><p>Quando você está logado, suas anotações ficam salvas em nossa base de dados na nuvem, e podem ser acessadas por você de qualquer lugar. Mas não se preocupe, elas só são vistas por você.</p></li>
        </ol>
    </ul>
    <hr>
    <!--  -->
    <h3>Sobre a plataforma</h3>
    <ul>
        <li><h4>Como faço para ficar sabendo sobre as atualizações?</h4></li>
        <!-- Lista Ordenada -->
        <ol>
            <li><p>Não é necessário se inscrever em nenhum canal, conforme as novas funcionalidades forem surgindo elas aparecerão na guia de atualizações que está logo abaixo nesta página.</p></li>
            <ol type="a">
                <li><p>a guia de atualizações eventualmente será movida, e ficará disponível na aba de navegação.</p></li>
            </ol>
        </ol>
    </ul>
    <hr>
    <!--  -->
    <h3>Atualizações</h3>
    <ul>
        <li><p><b>06/10/2021:</b> Adição de conteúdo à página de ajuda.</p></li>
        <br>
        <li><p><b>05/10/2021:</b> Início de operação da plataforma.</p></li>
    </ul>
</div>