#img-container{
  display: flex;
  flex-direction: row;
  width: 50%;
  overflow-x: hidden;
}

/**/
#container {
  display: flex;
  padding: 15px;
  margin-top: 25px;
  align-items: center;
}

img {
  width: 100%;
  height: 500px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

div:not(#container, #link-container, #img-container) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 3vw;
  color: white;
}

div h2 {
  font-family: "Quicksand", Arial, sans-serif;
  text-align: left;
  margin-bottom: 10px;
  color: var(--heading-color);
}

div p {
  font-family: "Urbanist", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  color: var(--p-color);
}

a {
  text-align: center;
  font-weight: 700;
  color: white;
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 2px 1px 5px rgba(22, 22, 22, 0.685);
}

#link-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 25px;
  border-radius: 25px;
  width: 75%;
  animation: background-transition 6s infinite alternate;
  margin-top: 5vh;
  cursor: pointer;
}

#link-container:hover {
  animation-play-state: paused;
  transition: 0.25s;
}

.right-slide {
  animation: rightSlide 0.5s;
}

.left-slide {
  animation: leftSlide 0.5s;
}

@keyframes rightSlide {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: 0%;
  }
}

@keyframes leftSlide {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes background-transition {
  0% {
    background-color: var(--blue);
  }

  45% {
    background-color: var(--red);
  }

  60% {
    background-color: var(--pink);
  }

  80% {
    background-color: var(--yellow-dark);
  }

  100% {
    background-color: var(--green-dark);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 740px) {
  #container {
    flex-direction: column;
  }

  div:not(#container, #link-container) {
    width: 100% !important;
    margin-top: 25px;
  }

  #link-container {
    width: 85%;
  }

  img {
    width: 100%;
    height: 30vh;
  }

  p {
    text-align: justify;
  }
}
