<div id="container">
  <h2>Minhas anotações</h2> 
  <div *ngIf="isLogged" class="change-tables-control">
    <div (click)="alternarTabela(false)" class="blue {{ local ? '' : 'active'}}">
      <fa-icon [icon]="faCloud"></fa-icon>
      <p>Anotações na nuvem</p>
    </div>
    <!--  -->
    <div (click)="alternarTabela(true)" class="yellow {{ local ? 'active' : '' }}">
      <fa-icon [icon]="faSdCard"></fa-icon>
      <p>Anotações locais</p>
    </div>
  </div>
  <app-note-table *ngIf="local" [notes]="localNotesFilter"></app-note-table>
  <br>
  <app-note-table *ngIf="!local" [notes]="userNotesFilter"></app-note-table>
</div>

<div (click)="modalService.revealModal()" class="filter-button">
  <fa-icon [icon]="faFilter"></fa-icon>
</div>

<a routerLink="/ajuda">
  <div class="help-button">
    <fa-icon [icon]="faQuestion"></fa-icon>
  </div>
</a>

<div class="modal-container" #template>
  <div class="modal-body">
    <fa-icon (click)="modalService.hideModal()" class="modal-close-button" [icon]="faTimes"></fa-icon>
    <h4>Filtros</h4>
    <div class="content">
      <div>
        <h5>Filtrar por Título:</h5>
        <input class="filter-input" [(ngModel)]="title" (keyup)="titleFilter($event)" type="text">
      </div>
      <!--  -->
      <div>
        <h5>Filtrar por cor:</h5>
        <app-colors (color)="setColor($event)" [showParagraph]="false"></app-colors>
      </div>
      <!--  -->
      <button (click)="clearFilters()" class="btn">Limpar filtros</button>
    </div>
  </div>
</div>