<header>
  <a routerLink="">
    <h1>MyNotepad</h1>
  </a>
  <div *ngIf="isLogged">
    <a routerLink="/minhas-anotacoes">
      <fa-icon [icon]="faNotes"></fa-icon>
      Anotações
    </a>
    <a>
      <fa-icon [icon]="faUser"></fa-icon>
      Meu Perfil
    </a>
    <a>
      <fa-icon [icon]="faDoorOpen"></fa-icon>
      Sair
    </a>
  </div>
  <div *ngIf="!isLogged">
    <a routerLink="/login">
      <fa-icon [icon]="faSignIn"></fa-icon>
      Login
    </a>
    <a routerLink="/cadastrar">
      <fa-icon [icon]="faUserPlus"></fa-icon>
      Cadastrar-se
    </a>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <small>João Nascimento &copy; 2021.</small>
</footer>
