#hamburguer {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 15px;
  font-size: 2.4rem;
  color: var(--golden);
  cursor: pointer;
}

#close-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: -5px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

#hamburguer:hover {}


@media screen and (max-width: 980px) {

  #hamburguer {
    display: inline;
  }

  #close-btn {
    margin-top: 5px;
    display: inline;
  }

  .aside {
    background-color: var(--black-variation);
    padding: 15px;
    align-items: center;
    margin: auto;
    width: 95%;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
  }

  .aside {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -300px;
    overflow-x: hidden;
  }

  .aside a {
    margin-top: 55px;
    margin-bottom: -45px;
    width: 100%;
  }

}
