<app-loader *ngIf="loaderService.isLoading | async"></app-loader>
<header>
  <a routerLink="">
    <h1>MyNotepad</h1>
  </a>
  <div *ngIf="isLogged" class="aside">
    <fa-icon [icon]="faTimes" id="close-btn" (click)="hideMenu()"></fa-icon>
    <a routerLink="/minhas-anotacoes" routerLinkActive="active">
      <fa-icon [icon]="faNotes"></fa-icon>
      Anotações
    </a>

    <a routerLinkActive="active">
      <fa-icon [icon]="faUser"></fa-icon>
      Meu Perfil
    </a>

    <a (click)="logout()" routerLinkActive="active">
      <fa-icon [icon]="faDoorOpen"></fa-icon>
      Sair
    </a>
  </div>
  <fa-icon [icon]="faBars" id="hamburguer" (click)="showMenu()"></fa-icon>
  <!---->
  <div *ngIf="!isLogged" class="aside">
    <fa-icon [icon]="faTimes" id="close-btn" (click)="hideMenu()"></fa-icon>

    <a routerLink="/minhas-anotacoes" routerLinkActive="active">
      <fa-icon [icon]="faNotes"></fa-icon>
      Anotações
    </a>

    <a routerLink="/login" routerLinkActive="active">
      <fa-icon [icon]="faSignIn"></fa-icon>
      Login
    </a>

    <a routerLink="/cadastrar" routerLinkActive="active">
      <fa-icon [icon]="faUserPlus"></fa-icon>
      Cadastrar-se
    </a>

  </div>
</header>

<router-outlet></router-outlet>
<footer>
  <small>João Nascimento &copy; 2021.</small>
</footer>
