    h2 {
      margin-top: 15px;
      font-family: var(--primary-font);
      color: var(--heading-color);
    }

    #color-panel {
      margin: 5px 0px 25px;
      display: flex;
      justify-content: space-between;
    }

    #color-panel div {
      width: 40px;
      height: 35px;
      border-radius: 3px;
      cursor: pointer;
    }

    #color-panel div:hover {
      transform: scale(0.85, 0.85);
    }

    #color-panel .blue {
      background-color: var(--blue);
    }

    #color-panel .red {
      background-color: var(--red);
    }

    #color-panel .yellow {
      background-color: var(--yellow);
    }

    #color-panel .green {
      background-color: var(--green);
    }

    #color-panel .pink {
      background-color: var(--pink);
    }

    #color-panel .white {
      background-color: var(--white);
    }

    #color-panel .black {
      background-color: var(--black);
    }

    #color-panel .orange {
      background-color: var(--orange);
    }

    @media screen and (max-width: 440px) {
      #color-panel div {
        width: 30px;
        height: 30px;
        margin: 5px;
      }
    }
