<div id="container">

  <a routerLink="/minhas-anotacoes">
    <fa-icon [icon]="faArrowLeft"></fa-icon> Voltar
  </a>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="{{color}}">

    <input type="text" class="title" formControlName="title" placeholder="Título da anotação">
    <textarea name="" id="" cols="30" rows="10" class="description" formControlName="content"
      placeholder="Descrição da anotação"></textarea>

    <app-colors (color)="setColor($event)"></app-colors>

    <div class="erro" *ngIf="this.form.get('title').touched && this.form.get('title').invalid">
      <fa-icon [icon]="faExclamation"></fa-icon> O campo de título deve ter entre 1 e 60 caracteres.
    </div>

    <div class="erro" *ngIf="this.form.get('content').touched && this.form.get('content').invalid">
      <fa-icon [icon]="faExclamation"></fa-icon> O campo de descrição não pode ficar vazio.
    </div>

    <button>Salvar</button>
  </form>
</div>

<div class="modal-container" (click)="modalService.hideModal()" #template>
  <div class="modal-body">
    <fa-icon (click)="modalService.hideModal()" class="modal-close-button" [icon]="faTimes"></fa-icon>
    <div class="content">
      <div class="dialog">
        <h4 class="modal-title pull-left">Onde deseja salvar sua nova anotação?</h4>
      </div>
      <div class="options-container">
        <div (click)="createNoteOnCloud()" class="option">
          <fa-icon [icon]="faCloud"></fa-icon>
          <p>Nuvem</p>
        </div>
        <div (click)="createLocalNote()" class="option">
          <fa-icon [icon]="faSdCard"></fa-icon>
          <p>Local</p>
        </div>
      </div>
    </div>
  </div>
</div>