@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--secondary-font);
  scroll-behavior: smooth;
}

:root {
  --blue: #426bff;
  --blue-dark: rgb(46, 85, 224);
  --red: #ff5757;
  --red-dark: #e93b3b;
  --yellow: #fff370;
  --yellow-dark: #d6ca41;
  --orange: #ff9431;
  --orange-dark: #eb811f;
  --green: #7bdd75;
  --green-dark: #58b951;
  --white: #fff;
  --gray-light: #ccc;
  --pink: #db3c8c;
  --pink-dark: #c72b79;
  --black: #111111;

  --background-color: #2c2c2c;
  --background-color-variation: #1f1f1f;
  --std-text-color: #1c1c1c;
  --title-color: black;
  --heading-color: #fff;
  --p-color: rgba(255, 255, 255, 0.733);
  --note-table-background: #2c2c2c;
  --btn-new: rgb(100, 100, 100);

  --primary-font: Quicksand, Arial, sans-serif;
  --secondary-font: Urbanist, Arial, sans-serif;
}

.light {
  --background-color-variation: #fff;
  /* --background-color-variation: rgb(251, 122, 122); */
  /* --background-color: rgb(180, 180, 180); */
  --background-color: rgb(251, 122, 122);
  --btn-new: var(--background-color);
  --std-text-color: #1c1c1c;
  --title-color: rgb(47, 196, 255);
  --heading-color: #2c2c2c;
  --p-color: rgba(26, 26, 26, 0.733);
  --note-table-background: rgb(219, 219, 219);
  --white: #ccc;
}

body {
  background-color: var(--background-color-variation);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--primary-font);
  color: var(--std-text-color);
  padding: 30px 25px;
  background-color: var(--background-color);
}

header a h1 {
  color: var(--heading-color);
  font-family: var(--primary-font);
}

header div a {
  border: 2px solid var(--heading-color);
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  color: var(--heading-color);
  font-weight: bold;
}

header div a:hover {
  background-color: white;
  color: #1c1c1c;
  transition: 0.25s;
}

header div .active {
  background-color: #fff;
  color: var(--std-text-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  font-family: var(--primary-font);
  margin-bottom: 15px;
  color: var(--heading-color);
}

/* note colors */

.blue .title {
  color: white;
  background-color: var(--blue-dark);
}

.blue .description {
  color: white;
  background-color: var(--blue);
}

.red .title {
  color: white;
  background-color: var(--red-dark);
}

.red .description {
  color: rgba(255, 255, 255, 0.829);
  background-color: var(--red);
}

.yellow .title {
  color: #2c2c2c;
  background-color: var(--yellow-dark);
}

.yellow .description {
  color: #2c2c2c;
  background-color: var(--yellow);
}

.pink .title {
  color: white;
  background-color: var(--pink-dark);
}

.pink .description {
  color: rgba(255, 255, 255, 0.829);
  background-color: var(--pink);
}

.green .title {
  color: #2c2c2c;
  background-color: var(--green-dark);
}

.green .description {
  color: #2c2c2c;
  background-color: var(--green);
}

.black .title {
  color: white;
  background-color: #131313;
}

.black .description {
  color: rgba(255, 255, 255, 0.829);
  background-color: #1d1d1d;
}

.white .title {
  color: var(--black);
  background-color: rgb(224, 222, 222);
}

.white .description {
  color: var(--black);
  background-color: white;
}

.orange .title {
  background: var(--orange-dark);
  color: white;
}

.orange .description {
  background: var(--orange);
  color: white;
}

@media screen and (max-width: 980px) {
  header div .active {
    background-color: var(--heading-color);
    color: var(--background-color-variation);
  }
}

.modal-container {
  display: none;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.42);
}

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-variation);
  max-width: 500px;
  width: 100%;
  margin: auto;
  height: 360px;
  border-radius: 5px;
  overflow-y: auto;
  margin-top: -105%;
  transition: 0.5s;
  padding: 5px;
}

.modal-body h4 {
  text-align: center;
  padding: 20px;
  color: var(--heading-color);
  font-weight: 300;
  font-size: 1.3rem;
}

.modal-body #color-panel div {
  width: 25px;
  height: 30px;
}

.modal-body .content {
  margin: auto;
}

.modal-body .options-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-body .options-container .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  border-radius: 10px;
  background-color: var(--blue);
  cursor: pointer;
  max-width: 200px;
  width: 30%;
  min-width: 70px;
  color: #fff;
}

.modal-body .options-container fa-icon {
  font-size: 2rem;
}

.modal-body .options-container .option:nth-child(2) {
  background-color: var(--yellow);
  color: #1d1d1d;
}

.modal-close-button {
  font-size: 2rem;
  font-weight: 1000;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin-left: auto;
  transition: 0.25s;
  color: var(--heading-color)
}

.modal-close-button:hover {
  color: #3c3c3c;
}